body {
	font-family: 'Hind', sans-serif;
	margin: 0px;
	font-size: 15px;
	-ms-user-select: None;
	-moz-user-select: None;
 	-webkit-user-select: None;
}
header {
	position: relative;
	width: 100%;
	padding: 0px;
	background-color: #1F1F1A; 
	box-shadow: 2px 2px 5px;
}
main {
	background: whitesmoke;
}
footer {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #1F1F1A;
	box-shadow: 2px -2px 5px black;
}
#main_picture {
	display:flex;
}
#home_pic{
	position: absolute;
	width: 100%;
}
#header {
	display: flex;
	justify-content: flex-end;
	padding: 0px 0px 10px 0px;
	margin: 0px auto;
	width: 70%;
}
#header_service {
	display: flex;
	justify-content: center;
	padding 10px 0px 10px 0px;
}
#footer {
	display: flex;
	justify-content: space-around;
	padding: 5vh 0px 5vh 0px;
	margin: 0px auto;
	color: white;
	width: 70%;
}
#logo {
	display: flex;
	margin: 0px 0px 0px 15%;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 50px;
	padding: 20px 8px 3px 8px;
}
#account {
	padding: 3px 3px 0px 3px;
	border-radius: 40px;
}
#lastLine {
	font-size: 10px;
	color: gray;
	margin: 0px auto;
	width: 90px;
}
#login {
	width: 20px
}
#link_center {
	position: relative;
	padding: 8px 14px 8px 14px;
	border: 1px solid white;
	background: rgb(0, 0, 0, 0.6);
	transition: background ease-in-out 0.5s, padding ease-in-out 0.5s;
}
#center {
	display: flex;
	justify-content: center;
	color: white;
	width: 100%;
	margin: 43vh 0vh 44vh 0vh;
}
#link-box {
	text-align: center;
}
#information {
	display: flex;
	justify-content: center;
	padding: 50vh 0vh 50vh 0vh;
	font-family: 'Public Sans', sans-serif;
}
#main-service {
	width: 80%;
	margin: 0px auto;
}
#auswahl {
	display: flex;
	justify-content: space-around;
	padding: 150px;
}
#shop_main {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0px auto;
	padding: 10px;
}
#sort {
	padding: 10px;
	width: 23%;
	box-shadow: 0px 0px 9px;
	background: snow;
}
#content {
	width: 73%;
	box-shadow: 0px 0px 4px;
	height: 78vh;
	background: white;
}
#main_contact {
	height: 80vh;
}
#main_about {
	height: 80vh;
}
#signUp_main {
	padding-top: 15vh;
	width: 100%;
	height: 60vh;
}
#login {
	margin: 0px auto;
	width: 12%;
	text-align: center;
}
#login_info {
	text-align: center;
	margin: 0px auto;
	margin-top: 5vh;
	background-color: white;
	color: currentColor;
	border: 1px solid gray;
	width: 30%;
	padding: 10px 5px 10px 5px;
}
input {
	margin: 2px 0px 2px 0px;
	padding: 3px;
	font-size: 13px;
	width: 98%;
}
.options {
	color: black;
	text-align: center;
	width: 25%;
	padding: 10px;
	transition: background ease-in-out 0.4s;
}
.nav1 {
	display: flex;
	height: 30px;
	border: 1px solid #1F1F1A;
	border-radius: 45px;
	transition: border ease-in-out 0.3s;
}
.nav {
	display: flex;
	margin: 0px 3px 0px 3px;
	border-bottom: 1px solid #1F1F1A;
	transition: border ease-in-out 0.3s;
}
.info {
	text-align: center;
	width: 15%;
}
.hover {
	align-self: center;
	color: black;
	border-radius: 1px;
	margin: 0px;
	padding: 5px 14px 5px 14px;
	transition: color ease-in-out 0.3s, background ease-in-out 0.4s, border ease-in-out 0.3s;
}
p {
	margin: 0px;
}
a {
	text-decoration: none;
	color: white;
}
.nav-style {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 5px 8px 0px 8px;
	transition: background ease-in-out 0.4s;
	border-radius: 1px;
}
.nav-style:hover {
	background: #2B2B24;
}
.nav:hover {
	border-bottom: 1px solid white;
}
.nav1:hover {
	border: 1px solid white;
}
#link_center:hover {
	background: black;
	padding: 8px 30px 8px 30px;
}
.hover:hover {
	background: rgb(0, 0, 0, 0.4);
	color: white;
	border: 1px solid white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}